<?xml version="1.0" encoding="UTF-8"?><plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-open-native-settings-shd"
	version="2.0.2">

	<name>Native settings SHD</name>
	<description>Native settings opener for Cordova </description>
	<license>MIT</license>

	<js-module src="www/settings.js" name="Settings">
		<clobbers target="cordova.plugins.settingsShd" />
	</js-module>

	<!-- ios -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="NativeSettingsShd">
				<param name="ios-package" value="NativeSettingsShd"/>
			</feature>
		</config-file>

		<header-file src="src/ios/NativeSettingsShd.h" />
		<source-file src="src/ios/NativeSettingsShd.m" />
	</platform>

</plugin>
